body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    background: #F1F1F1;
}

.header {
    background-color: #FFFFFF;
    margin: 0;
    padding: 24px 0 18px;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
    position: relative;
}

.city-list {
    position: absolute;
    top: 53px;
    left: 112px;
    width: 384px;
    /* max-height: 416px; */
    background: #FBFBFB;
    box-shadow: 0px 7px 38px rgba(44, 62, 106, 0.25);
    border-radius: 10px;
    padding: 24px 0 0;
    z-index: 1;
    display: none;
}

.visible {
    display: block;
}

.input-box {
    display: flex;
    padding: 0 16px;
}

.input-city {
    border: 2px solid #ABC8EA;
    border-radius: 100px;
    padding: 14px 25px 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #222222;
    outline: none;
    margin: 0 0 16px;
    flex-grow: 1;
}

.input-city::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #A7A7A7;
}

.box {
    padding: 0 16px;
    border-bottom: 1px solid #D8D8D8;;
}

.user-city-box {
    display: flex;
    flex-wrap: wrap;
    /* min-height: 58px; */
}

.user-city {
    width: fit-content;
    height: 40px;
    border: 1px solid #D8D8D8;
    border-radius: 100px;
    margin: 0 0 15px;
    padding: 9px 8px 9px 16px;
    background: #0656B4;
    color: #FFFFFF;
    /* visibility: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-del {
    height: inherit;
    padding: 0;
    margin: 0;
}

.list {
    border-top: 1px solid #D8D8D8;;
    padding: 0 16px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 223px;   
}

.list::-webkit-scrollbar {  
    display: none;
}

.list-item {
    padding: 8px 0 10px 7px;
    margin: 0;
}

.list-item:hover {
    background: #F1F1F1;
}

.btn-city {
    text-transform: uppercase;
    font-family: 'Formular';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0;
    display: flex;
    flex-grow: 1;
    padding: 16px 145px;
    width: 100%;
}

.btn-city:disabled {
    color: #A7A7A7;
    background: transparent;
    /*border-top: 1px solid #D8D8D8;*/
}

.btn-city:enabled {
    background: #0656B4;
    border-radius: 0px 0px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-city:enabled .btn-city:active {
    background: #0656B4;
    opacity: 0.9;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 26px;
    padding: 0 10px 0;
}

.menu {
    display: none;
}

.logo-city {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 16px;
}

.city-arrow {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    cursor: pointer;
}

.city-arrow:hover {
    background-color: #F1F1F1;
    border-radius: 32px;
}

.city {
    margin: 0;
}

.input {
    width: 592px;
    background: #F1F1F1;
    background-image: url(../icons/search.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
    border-radius: 100px;
    padding: 13px 8px 13px 48px;
    border: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #222222;
    outline: none;
}

.input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #767676;
}

.input:focus {
    border: 2px solid #ABC8EA;
}

.user {
    display: flex;
    align-items: center;
}

.like {
    display: flex;
    margin-right: 29px;
    padding: 0 5px;  
}

.like:hover {
    background: #F1F1F1;
    border-radius: 37px;
}

.heart {
    width: 15px;
    height: 13px;
    margin-right: 9px;
    cursor: pointer;
}

.count {
    margin: 0;
}

.user-name {
    margin: 0;
    margin-right: 7px;
    cursor: pointer;
}

.user-name:hover {
    color: #767676;
}

.avatar {
    width: 32x;
    height: 32px;
}

.nav {
    margin: 0;
    padding: 0;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    text-align: center;;
}

.navigation-item a {
    text-decoration: none;
    color: #222222;
    padding: 2px 10px;
}

a:active, a:hover, a:focus {
    background: #F1F1F1;
    border-radius: 34px;
}

.gradient {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to left, rgb(255,255,255), rgba(255,255,255,0));
    width: 160px;
    text-align: right;
    padding-right: 14px;
}

.main {
    height: 100vh;
}